body {
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(231, 231, 82);
}

h1 {
  font-size: 4rem;
}

.unmotivational-message {
  margin: 0;
}

#climbing_image {
  border: 2px solid rgb(242, 208, 14);
  display: block;
  margin: auto;
}